<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435337135364-0nho0li7qad1749l8aj94app6o5fkhsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435337135364-0nho0li7qad1749l8aj94app6o5fkhsc</string>
	<key>API_KEY</key>
	<string>AIzaSyCc5nFdgIapPHKYdrD5UHYZhRuSdqBddvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>435337135364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.auxswot.swortify</string>
	<key>PROJECT_ID</key>
	<string>swortify-a24a2</string>
	<key>STORAGE_BUCKET</key>
	<string>swortify-a24a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435337135364:ios:2c50901557fa7a74f5fc51</string>
</dict>
</plist>